@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Reniel David - Save your data <a href="/Form">here.</a>.</p>
</div>
